@charset "utf-8";
@import url('../static/css/bootstrap.css');
@import url('../static/css/fontawesome-all.css');
@import "reset.scss";
@import "mediastyle.scss";

body, input, select, textarea, button, .ist-container {
	overflow: scroll;
  	font-style: normal;
  	font-family: "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
  color: #000;
  :hover {
    color: #00aff0;
  }
}

p {
  color: #000;
  ul {
    color: #fff;
    li {
      padding: 10px
    }
  }
}
/*logo*/
h1.logo{
  padding:15px 0;
  margin-bottom:0;
}
.menu-top {
  .list-inline-item a {
    padding-right: .5rem;
    font-size: .8rem;
  }
}
/*language*/
.language{
	padding-top: 2rem;
  a{
    img{
      width: 25px;
      box-shadow: 0px 0px 5px 1px #ccc;
    }
  }
}

/* Navigation bar*/
.main-menu {
  .navbar-nav {
    li.nav-item {
    	position: relative;
    	padding-right: 10px;
    	a{
    		font-size: 1rem;
    	}
      &:after {
        content: "|";
        padding-left: 8px;
        position: absolute;
        right: 0;
        top: 7px;
      }

      &:last-child {
        &:after {
          content: "";
          padding-left: 0;
        }        
      }
      &.active{
      	a{
      		background: #0060ef;
      		color: #fff;
      	}
      }
    }
  }
  .box-search{
    position: absolute;
    right: 0;  
    width: 32px;
    height: 32px;  
    .btn-search{
      width: 32px;
      span{
	    position: absolute;
	    right: 0;
	    padding: 6px;
	    border: 1px solid #00aff0;
	    color: #00aff0;
	    font-size: 1.1rem;
      }      
    }
    input{
        display: none;
        margin-top: 31px;
        z-index: 99;
        right: 0;
        transition: all 2s;
        padding: 5px 10px;
      }
    &:hover{
      width:200px;
      transition: all 2s;
      input{
        position: absolute;
        margin-top: 31px;
        z-index: 99;
        right: 0;
        transition: all 2s;
        display:block;
      }
    }
  }
}
.wraper.homepage{	
	.business-in-vietnam {
		position:relative;
	  .right-side {
	  	width: 100%;
	  	margin-top: 5px;
	    li {
		    padding: 10px 0 0px 15px;
		    width: 50%;
		    float: left;
		    margin-right: 0;
		    height: 170px;
	      a{
	      	img{
	      		width: 100%;
	      		height: 155px;
	      	}	      	
	      }
	      &:nth-child(2), &:nth-child(4){
	      	img{
	      		float: right;
	      	}
	      }
	    }
	  }
	  .left-side {
	  	.list {
		    .item{
		    	width:100%;
		    	a{
			    	width: 100%;
				    padding: 25px 25px;
				    display:block;
				    margin: 15px 0;
				    border-radius: 5px;
				    box-shadow: 0px 1px 3px 1px #ccc;
				    border: 1px solid #1cc1ff;				    
			  		color: #fff;
			  		font-size: 1.3rem;	
			  		position:relative;		  		
				    &:nth-child(1) {
						background: -webkit-linear-gradient(135deg,#0084b6, #0084b6, #61aecc);
						background: linear-gradient(-45deg,#0084b6, #0084b6, #61aecc);
				  	}
				  	&:nth-child(2) {
						background: -webkit-linear-gradient(135deg,#0084b6, #0084b6, #0084b6, #61aecc);
						background: linear-gradient(-45deg,#0084b6, #0084b6, #0084b6, #61aecc);
				  	}
				  	&:nth-child(3) {
						background: -webkit-linear-gradient(135deg,#0084b6, #0084b6, #0084b6, #0084b6, #61aecc);
						background: linear-gradient(-45deg,#0084b6, #0084b6, #0084b6, #0084b6,  #61aecc); 
				  	}
				  	&:nth-child(4) {
						background: -webkit-linear-gradient(135deg,#0084b6, #0084b6, #0084b6,#0084b6, #61aecc);
						background: linear-gradient(-45deg,#0084b6, #0084b6, #0084b6, #0084b6, #0084b6,  #61aecc);
				  	}
				  	span{
				  		i{
						    color: transparent;
						    position: absolute;
						    right: 10px;
						    background: url(../img/icon-next.png) no-repeat center;
						    height: 52px;
						    top: 7px;
						    width: 29px;
				  		}
				  	}
			  	}			  	
		    }
	  	}
	  	.tab-content{
	  		position: absolute;
			right: -98%;
			width: 101%;
			height: 100%;
			background: transparent;
			z-index: 99;
			top: 15px;
			#container1, #container2, #container3, #container4 {
				margin-left: 20px;			    
			    padding: 38px 55px;
			    height: 93%;
			    ul{    
			    	background-image: url(../img/bgulservice.png);
				    background-color: #fff;
				    background-size: 100% 100%;
			    	height: 100%;
			    	position: relative;
			    	li{
			    		&.title-service{
			    			padding: 10px 0 0;
			    			span{
			    				padding: 0 20px;
			    				i{
			    				    transform: none;
								    color: transparent;
								    background: url(../img/icon-nextservice.png) no-repeat center;
			    				}
			    			}
			    		}
			    		&.img-service{
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    		}
			    	}
			    }
			}
			#container1{				
				background-image: url(../img/bg-service.png);
			    background-repeat: no-repeat;
			    background-size: 100% 100%;
			}
			#container2{
				background-image: url(../img/bg-service.png);
			    background-repeat: no-repeat;
			    background-size: 100% 100%;
				ul{
					overflow-y:auto;
				}
			}
			#container3{
				background-image: url(../img/bg-service.png);
			    background-repeat: no-repeat;
			    background-size: 100% 100%;
			}
			#container4{
				background-image: url(../img/bg-service.png);
			    background-repeat: no-repeat;
			    background-size: 100% 100%;
			}
		}
	  	.sub-menu-show {
		    display: block;
		    position: absolute;
		    top: 0px;
		    right: -106%;
		    z-index: 99;
		    background: #fff;
		    width: 100%;
		    height: 100%;
		    box-shadow: 0px 0px 2px 1px #ccc;
		    ul{
		    	li{
		    		a{
		    			color: #000; 
		    		}
		    	}
		    }
		} 
	  	
	  }

	}
	.title-news{
		h3{
			width: 100%;
		    font-size: 30px;
		    font-weight: bold;
		    color: #00406d;
		    text-transform: uppercase;
		    padding: 25px 0;
			span{
				i{
					color: #00aff0;
	    			padding: 15px 15px 0 0;
				}
			}
		}

	} 
	.title-product{
		h3{
			width: 100%;
		    font-size: 30px;
		    font-weight: bold;
		    color: #00406d;
		    text-transform: uppercase;
		    padding: 25px 0 10px;
			span{
				i{
					color: #00aff0;
	    			padding: 15px 15px 0 0;
				}
			}
		}

	}
	.home-news{
		background: #d9f4ff ;
	} 
	.home-service{
		margin-bottom:20px;
	}	
	.new-deatail-home{
		margin-bottom: 25px;
		.main-news{
			margin-top:10px;
			background: #fff;
			padding: 10px; 
			.detail{
				padding: 10px 0;
				.date{
					color: #000;
					font-weight: bold;
					display: block;
					width: 100%;
					margin-right: 10px;
					i{
						padding: 0 5px 0 0;
					}
				}
				.title{
					color: #000;
				    font-weight: bold;
				    text-align: justify;
				    display: inherit;
				}
			}
		}
		.news-detail{
			display: block;
			.row{
				padding: 10px 0;
				border-bottom: 1px dashed #ccc;
				margin: 0;
				.col-md-2.col-sm-2{
					padding: 0;
				}
				.col-md-10.col-sm-10{
					padding: 0;
					a{
						text-align: justify;
					    display: block;
					}
				}
			}
			a.all-new{
			    background: url(../img/all-new.png) no-repeat;
				padding: 3px 106px 5px 5px;
			    color: #fff;
			    float: right;
			    bottom: 0;
			    position: absolute;
			    right: 0;
				i{
					transform: rotate(45deg);
				    position: absolute;
				    right: 15px;
				    color: #57a1f5;
				    margin-top: 3px;
				}

			}
		}
	}
}
.footer-service{
	background: #dddddd;
	padding: 25px 0;
	.row{
		margin:0;
	}
	.box-info-inner{
		h3{
			font-size:14px;
			font-weight:bold;
			padding: 10px 0;
		}
		ul{
			li{
				a{
					font-size: .8rem;
				    line-height: 20px;
				}
			}
		}
	}
	.col-md-3.col-sm-3.col-xs-12{
		border-left: 2px dashed #000;
		.box-info-inner{
			&:first-child{
				h3{
					padding: 0 0 10px;
				}
			}
		}
	}	
}
.footer-map{
	background: #707070;
	color: #fff;
	padding: 25px 0;
	.row{
		margin: 0;
	}
	h2{
		font-weight: bold;
		font-size: 14px;
		padding-bottom: 10px;

	}
	ul{
		li{
			a{
				color: #fff;
				font-weight:normal;
				font-size: .8rem;
			}
			i{
				padding: 0 10px 10px 5px;
			}
			.fax{
				margin-left:5px;
			}
		}
	}
	.col-md-7.col-sm-7.col-xs-12, .col-md-5.col-sm-5.col-xs-12 {
		border-left: 2px dashed #000;
		padding-left: 10px;
	}
}
.footer-coppy-right {
	background: #464646;
	padding: 10px 0;
	a{
		font-size: 12px;
		color: #fff;
	}
}
.social{
		position: fixed;
	    top: 22%;
	    left: 0;
	    z-index: 99;
	    ul{
	    	width: auto;
	    	li{
	    		background: transparent;
	    		height:45px;
	    		height:44px;
	    		overflow: hidden;
	    		transition: all 1s;
	    		&.fb{	    			
	    			width: auto;
	    			padding-left: 0;
		    		&:hover{
		    			background: #30487d;
			    		padding-left: 45px;
			    	} 			
	    		}
	    		&.twitter{	    			
	    			width: auto;
	    			padding-left: 0;
		    		&:hover{
		    			background: #339dc3;
			    		padding-left: 45px;
			    	}
	    		}
	    		&.plus{	    			
	    			width: auto;
	    			padding-left: 0;
		    		&:hover{
		    			background: #dc4335;
			    		padding-left: 45px;
			    	}
	    		}
	    		&.in{	    			
	    			width: auto;
	    			padding-left: 0;
		    		&:hover{
		    			background: #005883;
			    		padding-left: 45px;
			    	}
	    		}

	    	}
	    }
}
.gotofb{
	position: fixed;
	bottom: 42px;
	right: 0;
	z-index: 99;  
}
.backtop{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	height: 45px;  
	button{
		overflow: hidden;
	}
	#myBtn{
		display: none;
		position: fixed;
	}
}

.banner-top.network{
	position: relative;	
	img{
		width:100%;
	}
	.breadcumb{
	    position: absolute;
	    bottom: 10px;
	    margin-left: 15px;
	    ul{
	    	li{
	    		width: 100px;
	    		&:nth-child(1){
	    			font-size: 0.9rem;
	    			color: #6776c7;
	    		}
	    		&:nth-child(2){
	    			font-size: 0.9rem;
	    			color: #6776c7;
	    		}
	    		&:nth-child(3){
	    			font-size: 1.9rem;
	    			color: #6776c7;
					line-height: 37px;
				    font-weight: bold;
	    		}
	    	}
	    }
	}
}
.wraper {
// network solution
	&.networksolution
		.product-list{
			ul{
				li{
					background: #1143e7;
					border: 1px solid #01baff;
					padding: 11px 12px;
					margin-bottom: 5px;
					a{
						coloR: #fff;
					}
				}
			}
		}
	}
